<ion-header>
  <app-navbar-profile-pic></app-navbar-profile-pic>
</ion-header>

<ion-content>
  <div class="content-inner">

  
    <!-- LISTE D'AMIS  -->
    <ul *ngIf="friendsList$ | async as friendsList">

      <li *ngFor="let friend of friendsList"> 
        <ion-icon name="person-circle-outline"></ion-icon>
        {{friend }} 
      </li>

    </ul>  


    <!-- NOUVEAU SONDAGE  -->
    <div class="addFriend">
      <ion-icon class="addFriendIcon" name="add-circle-outline" (click)="addFriend()"> </ion-icon>
      <p class="addFriendText"> Ajouter un ami </p>
    </div>


  </div>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>