// PAGE //
.content-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


// TITLE & ICON //
.commentsTitleDiv {
    display: flex;
    align-items: center;
}

.commentsTitleIcon{
    color: #53D2F2;
    height: 4vh;
    width: 4vh;
    margin-right: 2vh;
}

.commentsTitle {
    font-weight: bold;
    text-align: center;
    font-size: 4vh;
}

// TEXT //
.commentsDiv {
    display: flex;
    width: 42vh;
    border: 1px solid #53D2F2;
    margin-bottom: 5vh;
}

.commentsText {
    padding-left: 1vh;
    padding-right: 1vh;
}
