<ion-header>
  <app-navbar-arrow> </app-navbar-arrow>
</ion-header>

<ion-content>
  <div class="content-inner">


    <!-- COMMENTAIRES  -->
    <div>

      <div class="commentsTitleDiv">
        <ion-icon class="commentsTitleIcon" name="chatbox-ellipses-outline"></ion-icon>
        <h2 class="commentsTitle"> Commentaire </h2>
      </div>

      <div class="commentsDiv">
        <p class="commentsText"> Je cherche un film d’horreur assez récent (après 2020) </p>
      </div>

    </div>

    <!-- DEJA VU(S)  -->
    <div>

      <div class="commentsTitleDiv">
        <ion-icon class="commentsTitleIcon" name="eye-off-outline"></ion-icon>
        <h2 class="commentsTitle"> Déjà vu(s) </h2>
      </div>

      <div class="commentsDiv">
        <ul>
          <li> Insidious 2 </li>
          <li> Annabelle </li>
        </ul>
      </div>

    </div>

    
  </div>
</ion-content>