<!-- BANNIERE  -->
<ion-header class="banniere">
  <img src="./assets/icon/CINEPOLL_Logo.png" alt="CINEPOLL_Logo">
</ion-header>

<ion-content>
  <div class="content-inner">


    <!-- FORM  -->
    <form class="formAuth" [formGroup]="formLogin" (ngSubmit)="connexion()">
      <ion-list>

        <!-- EMAIL  -->
        <ion-item class="itemInput">
          <ion-input placeholder="Adresse email" [formControlName]="accountProperties.EMAIL"></ion-input>
        </ion-item>

        <!-- MOT DE PASSE  -->
        <ion-item class="itemInput">
          <ion-input [type]="hide ? 'password' : 'text'" placeholder="Mot de passe" [formControlName]="accountProperties.PASSWORD" >
          </ion-input>
          <app-hide-password (hideStatus)="hidePassword($event)"></app-hide-password>
        </ion-item>

        <!-- CONNEXION  -->
        <ion-item>
          <ion-button [disabled]="formLogin.invalid" class="buttonConnexion" type="submit">Se connecter</ion-button>
        </ion-item>

      </ion-list>
    </form>
    

    <!-- MESSAGE D'ERREUR  -->
    <p class="errorMessage" *ngIf="errorMessage"> {{errorMessage}}</p>


    <!-- CREER COMPTE  -->
    <div class="creerCompte">
      <p class="noAccount"> Pas encore de compte? </p>
      <ion-button class="buttonCreerCompte" (click)="creerCompte()"> Créer un compte </ion-button>
    </div>


  </div>
</ion-content>