// PAGE //
.content-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


// NOUVEAU SONDAGE //
.newPollTitleItem {
    margin-bottom: 2vh;
}

.newPollText {
    font-weight: bold;
    text-align: center;
    font-size: 4vh;
}

// FORM //
.formNewPoll {
    display: flex;
    justify-content: center;
}

ion-item {
    margin-top: 1vh;
    margin-bottom: 4vh;
    --border-style: none;
}

ion-input {
    height: 10vh;
    width: 38vh;
    font-size: 3vh;
    text-align: center;
    border: 0.2vh solid #53D2F2;
}

// BOUTON CREE SONDAGE //
.createNewPoll {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
}

.buttonNewPoll {
    --background: #2CACDC;
    height: 8vh;
    width: 30vh;
    margin: auto;
    font-size: 2vh;
    font-weight: bold;
    text-transform: none;    // Enlever le uppercase
    --border-radius: 5%;
}