<ion-header>
  <app-navbar-arrow> </app-navbar-arrow>
</ion-header>

<ion-content>
  <div class="content-inner">


    <!-- FORM  -->
    <form class="formNewPoll" [formGroup]="formNewPoll" (ngSubmit)="newPoll()">

      <ion-list>
        <!-- NOUVEAU SONDAGE  -->
        <ion-item class="newPollTitleItem">
          <h2 class="newPollText"> Nouveau sondage </h2>
        </ion-item>

        <!-- GENRE  -->
        <ion-item>
          <ion-input placeholder="Genre" [formControlName]="pollproperties.GENRE"></ion-input>
        </ion-item>

        <p class="errorMessage" *ngIf="(
          formNewPoll.controls[pollproperties.GENRE]?.dirty
       || formNewPoll.controls[pollproperties.GENRE]?.touched )
       && formNewPoll.controls[pollproperties.GENRE]?.errors?.['required']">
          Genre requis
        </p>

        <p class="errorMessage" *ngIf="(
          formNewPoll.controls[pollproperties.GENRE]?.dirty
       || formNewPoll.controls[pollproperties.GENRE]?.touched )
       && formNewPoll.controls[pollproperties.GENRE]?.errors?.['minlength']">
          Minimum {{ formNewPoll.controls[pollproperties.GENRE].errors?.['minlength'].requiredLength }} caractères
        </p>

        <!-- COMMENTAIRE  -->
        <ion-item>
          <ion-input placeholder="Commentaire" [formControlName]="pollproperties.COMMENT"></ion-input>
        </ion-item>

        <!-- FILMS/SERIES A EXCLURE  -->
        <ion-item>
          <ion-input placeholder="Films/Séries à exclure" [formControlName]="pollproperties.EXCLUDED"></ion-input>
        </ion-item>

        <!-- BOUTON CREER SONDAGE  -->
        <div class="createNewPoll">
          <ion-button class="buttonNewPoll" [disabled]="formNewPoll.invalid" type="submit"> Créer un sondage
          </ion-button>
        </div>


      </ion-list>
    </form>




  </div>
</ion-content>