<ion-header>
  <app-navbar-profile-pic></app-navbar-profile-pic>
</ion-header>


<ion-content>
  <div class="content-inner">

    <!-- ACTION  -->
    <div>

      <h2 class="ListTitle"> Action </h2>

      <ion-list>

        <!-- FILM 1  -->
        <div class="ListDiv">
          <p> Rocky </p>
        </div>

        <!-- FILM 2  -->
        <div class="ListDiv">
          <p> Le seigneur des anneaux: le retour du roi </p>
        </div>

      </ion-list>

    </div>


    <!-- COMEDIE  -->
    <div>

      <h2 class="ListTitle"> Comédie </h2>

      <ion-list>

        <!-- FILM 1  -->
        <div class="ListDiv">
          <p> Le grand restaurant </p>
        </div>

        <!-- FILM 2  -->
        <div class="ListDiv">
          <p> Oscar </p>
        </div>

      </ion-list>

    </div>

    <!-- HORREUR  -->
    <div>

      <h2 class="ListTitle"> Horreur </h2>

      <ion-list>

        <!-- FILM 1  -->
        <div class="ListDiv">
          <p> Insidious 2 </p>
        </div>

        <!-- FILM 2  -->
        <div class="ListDiv">
          <p> It follows </p>
        </div>

      </ion-list>

    </div>

    <!-- Thriller  -->
    <div>

      <h2 class="ListTitle"> Thriller </h2>

      <ion-list>

        <!-- FILM 1  -->
        <div class="ListDiv">
          <p> Le silence des agneaux </p>
        </div>

        <!-- FILM 2  -->
        <div class="ListDiv">
          <p> Millénium </p>
        </div>

      </ion-list>

    </div>
  </div>
</ion-content>


<ion-footer>
  <app-footer></app-footer>
</ion-footer>