<ion-header>
  <app-navbar-arrow> </app-navbar-arrow>
</ion-header>

<ion-content>

  <!-- AJOUTER UN AMI  -->
  <h2 class="addFriendText"> Ajouter un ami </h2>

  <!-- FORM  -->
  <form class="formAddFriend" [formGroup]="formAddFriend" (ngSubmit)="sendInvitation()">
    <ion-list>

      <!-- PSEUDO  -->
      <ion-item>
        <ion-input placeholder="Pseudo" [formControlName]="accountProperties.PSEUDO"></ion-input>
      </ion-item>

      <p class="errorMessage" *ngIf="(
        formAddFriend.controls[accountProperties.PSEUDO]?.dirty
     || formAddFriend.controls[accountProperties.PSEUDO]?.touched )
     && formAddFriend.controls[accountProperties.PSEUDO]?.errors?.['required']">
        Pseudo requis
      </p>

      <!-- ERREUR PSEUDO INVALIDE -->
      <p class="errorMessage" *ngIf="
          errorMessage 
          && formAddFriend.controls[accountProperties.PSEUDO]?.value">

        {{ errorMessage }}
      </p>

      <!-- BOUTON ENVOYER INVITATION  -->
      <ion-item>
        <ion-button class="buttonAddFriend" [disabled]="formAddFriend.invalid" type="submit"> 
          Ajouter un ami </ion-button>
      </ion-item>

    </ion-list>
  </form>


</ion-content>