<ion-header>
  <app-navbar-arrow> </app-navbar-arrow>
</ion-header>

<ion-content>
  <div class="content-inner">


    <!-- FORM  -->
    <form class="formRegister" [formGroup]="formRegister" (ngSubmit)="creerCompte()">
      <ion-list>

        <!-- EMAIL  -->
        <ion-item class="itemInput">
          <ion-input placeholder="Adresse email" [formControlName]="accountProperties.EMAIL"></ion-input>
        </ion-item>

        <!-- PSEUDO  -->
        <ion-item class="itemInput">
          <ion-input placeholder="Pseudo" [formControlName]="accountProperties.PSEUDO"></ion-input>
        </ion-item>

        <!-- MOT DE PASSE  -->
        <ion-item class="itemInput">
          <ion-input [type]="hide ? 'password' : 'text'" placeholder="Mot de passe" [formControlName]="accountProperties.PASSWORD"></ion-input>
          <app-hide-password (hideStatus)="hidePassword($event)"></app-hide-password>
        </ion-item>

        <!-- CONFIRMER MOT DE PASSE  -->
        <ion-item class="itemInput">
          <ion-input [type]="hide ? 'password' : 'text'" placeholder="Confirmer Mot de passe" [formControlName]="accountProperties.CONFIRMPASSWORD"></ion-input>
        </ion-item>

        <!-- IMPORTER PHOTO  -->
        <ion-item>
          <ion-icon class="importPic" name="duplicate-outline"></ion-icon>
          <p class="importText"> Importer une photo </p>
        </ion-item>

      </ion-list>
    </form>


    <!-- BOUTON CREER COMPTE  -->
    <div class="creerCompte">
      <ion-button class="buttonCreerCompte" type="submit" (click)="creerCompte()"> Créer un compte </ion-button>
    </div>


  </div>
</ion-content>