// PAGE //
.content-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


// FORM  //
.formRegister {
    display: flex;
    justify-content: center;
}

ion-item {
    margin-top: 3vh;
    --border-style: none;
}

.itemInput {
    border: 0.2vh solid #53D2F2;
}

ion-input {
    height: 10vh;
    width: 70vw;
    font-size: 3vmax;
    text-align: center;
}

.importPic {
    color: #53D2F2;
    height: 5vh;
    width: 5vh;
    margin-right: 3vh;
}

.importText {
    font-size: 3vh;
}

// MESSAGE D'ERREUR //
.errorMessage {
    color:red;
    text-align: center;
}


// CREER COMPTE //
.creerCompte {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
}

.buttonCreerCompte {
    --background: #2CACDC;
    height: 8vh;
    width: 38vh;
    font-size: 4vh;
    font-weight: bold;
    text-transform: none;    // Enlever le uppercase
    --border-radius: 5%;
}